</div>

    
</div>

    

<div class="main-footer bg-gradient-4 clearfix">
    <div class="footer-pane">
        <div class="container clearfix">
            <div class="logo">&copy; 2017 Job for Model. All Rights Reserved.</div>
            <div class="footer-nav-bottom">
                <a href="#" title="Portfolio">Home</a>
                <a href="#" title="Layout">Modelos</a>
                <a href="#" title="Elements">Contato</a>
            </div>
        </div>
    </div>
</div></div>


    <!-- FRONTEND ELEMENTS -->
    <script type="text/javascript" src="../../assets/tether/js/tether.js"></script>
    <script type="text/javascript" src="../../assets/bootstrap/js/bootstrap.js"></script>
<!-- Skrollr -->

<script type="text/javascript" src="../../assets/widgets/skrollr/skrollr.js"></script>

<!-- Owl carousel -->

<script type="text/javascript" src="../../assets/widgets/owlcarousel/owlcarousel.js"></script>
<script type="text/javascript" src="../../assets/widgets/owlcarousel/owlcarousel-demo.js"></script>

<!-- HG sticky -->

<script type="text/javascript" src="../../assets/widgets/sticky/sticky.js"></script>

<!-- WOW -->

<script type="text/javascript" src="../../assets/widgets/wow/wow.js"></script>

<!-- VideoBG -->

<script type="text/javascript" src="../../assets/widgets/videobg/videobg.js"></script>
<script type="text/javascript" src="../../assets/widgets/videobg/videobg-demo.js"></script>

<!-- Mixitup -->

<script type="text/javascript" src="../../assets/widgets/mixitup/mixitup.js"></script>
<script type="text/javascript" src="../../assets/widgets/mixitup/isotope.js"></script>


<!-- Superclick -->

<script type="text/javascript" src="../../assets/widgets/superclick/superclick.js"></script>

<!-- Input switch alternate -->

<script type="text/javascript" src="../../assets/widgets/input-switch/inputswitch-alt.js"></script>

<!-- Slim scroll -->

<script type="text/javascript" src="../../assets/widgets/slimscroll/slimscroll.js"></script>

<!-- Content box -->

<script type="text/javascript" src="../../assets/widgets/content-box/contentbox.js"></script>

<!-- Overlay -->

<script type="text/javascript" src="../../assets/widgets/overlay/overlay.js"></script>

<!-- Widgets init for demo -->

<script type="text/javascript" src="../../assets/js-init/widgets-init.js"></script>
<script type="text/javascript" src="../../assets/js-init/frontend-init.js"></script>

<!-- Theme layout -->

<script type="text/javascript" src="../../assets/themes/frontend/layout.js"></script>

<!-- Theme switcher -->

<script type="text/javascript" src="../../assets/widgets/theme-switcher/themeswitcher.js"></script>

</body>
</html>